@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Abhaya Libre', serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: 3.6em; 
}

/**********Header Section**********/
header{
    width: 100%;
    height: 4.2rem;
    background-color: #fffef0cd;
    position: fixed;
    top: 0;
}

.nav-bar{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0 4rem;
    background-color: #fffef0cd;
}

.nav-bar h1{
    color:rgb(0, 0, 0);
    font-weight: 700;
    cursor: pointer;
}

.nav-bar ul{
    display: grid;
    grid-auto-flow: column;
    grid-column: 4;
    justify-content: center;
    align-items: center;
}

.nav-bar ul a{
    font-size: 1.2rem;
    padding: 1.5rem;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    transition: all 0.4s ease;
}

.nav-bar ul a:hover{
    color:white;
    background-color: #3c3016;
}


/**********Blog Section**********/
.hero{
    max-width: 120rem;
    height: 60rem;
    background: url(./assets/s2.jpg) no-repeat center center / cover;
    margin: -25rem auto;
}

main {
    width: 100%;
    max-width: 89rem;
    background-color: white;
    margin: 15rem auto 0 auto;
    padding: 3rem;
    border-radius: 1.5rem;
}


main h2{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

main .profile-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 3rem 0;
}

main .profile-container .profile {
    display: grid;
    align-items: center;
}


main .profile-container .profile .profile-img{
    float:left;
    width: 6rem;
    height: 6rem;
    background: url(./assets/person1.jpg) no-repeat center center / cover;
    border-radius: 0.5rem;
}

main .profile-container .profile .profile-txt {
    margin: -9rem 0 0 8rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
}


.profile .profile-txt h3{
    text-transform: uppercase;
}

main .content p{
    color:#37423d;
    margin: 1rem 0;
    font-size: 1.4rem;
}

main .content h4{
    font-size: 1.4rem;
    font-weight: 600;
    color: brown;
    margin: 2rem 0;
}

main .content .content-img-container{
    width: 100%;
    height: 50rem;
    background: url(./assets/s1.jpg) no-repeat center center / cover;
}

blockquote{
    font-size: 1.4rem;
    padding: 1rem 2.8rem;
    line-height: 1.6;
    font-weight: 300;
    box-shadow: inset 0.5rem 0 0 #ff9e02;
    background-color: #f5f5f5;
}

.tags {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
}

.tags p {
    font-size: 1.4rem;
    text-transform: capitalize;
}

.tags a {
    display: inline-block;
    padding: 0.3rem 1.5rem;
    background-color: #f5f5f5;
    color: #37423d;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    max-width: 150px;
}

/**********Footer Section**********/

footer{
    background-color: #3c3016;
    padding: 2rem 0;
}

.icons{
    text-align: center;
}

.icons .socials i{
    font-size: 2rem;
    color: grey;
    padding: 1rem;
    transition: all 0.4s ease;
}

.icons .socials i:hover{
    color:white;
    cursor: pointer;
}

.icons .copyright p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color:white;
    margin: 2rem 0;
}